.home {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
}

.home-main-info {
    height: 90vh;
    background-image: url("../assets/flowers-8007929.jpg");
    background-position: center;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.home-main-info > h2 {
    font-size: 2em;
    margin: 0;
    font-weight: 400;
}

.home-main-info > h1 {
    font-size: 4em;
    margin: 0;
    font-weight: 800;
    text-align: center;
}

.home-main-info > div {
    font-size: 2em;
    margin-top: 20px;
}

.home-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.home-info > div {
    padding: 0 100px 0 100px;
}

.home-info-pdp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2c37;
    color: white;
    height: 90vh;
}

.home-info-pdp > div {
    display: flex;
    justify-content: space-between;
    max-width: 1330px;
}

.home-info-pdp > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    flex: 1;
}

.home-info-pdp_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 465px;
    height: 460px;
    clip-path:ellipse(50% 50%);
}

.home-info-pdp >  div > div > div > img {
    width: 450px;
    height: 450px;
    clip-path:ellipse(50% 50%);
}

.home-info-pdp_text > h1 {
    font-weight: 400;
}

.home-info-pdp_text > p {
    font-weight: 400;
    font-size: 1.1em;
}

#home-info-stack {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
    max-width: 1330px;
    align-self: center;
    justify-content: center;
    padding: 50px 100px 50px 100px;
}

.home-info-pratique {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info-pratique > h1 {
    font-size: 4em;
    font-weight: 300;
    opacity: 70%;
}

.home-info-pratique_card {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.home-info-soin > h1 {
    font-size: 4em;
    font-weight: 300;
    opacity: 70%;
    text-align: center;
}

.home-info-soin > p {
    font-size: 1.1em;
    font-weight: 400;
    opacity: 70%;
    text-align: center;
}

.home-info-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 90vh;
    overflow: hidden;
}

.home-info-contact > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
}

.home-info-contact > div:nth-child(1) > h1 {
    font-size: 4em;
    font-weight: 300;
    opacity: 70%;
    text-align: center;
}

.home-info-contact > div:nth-child(1) > p {
    font-size: 1.1em;
    font-weight: 400;
    opacity: 70%;
    text-align: center;
}

.home-info-contact > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545454;
    /* clip-path:ellipse(33% 50%); */
    border: 2px solid #151e25 ;
}

.home-info-contact > div > iframe {
    width: 600px;
    height: 400px;
    /* clip-path:ellipse(33% 50%); */
}

.check-green {
    width: 18px;
    /* filter: invert(26%) sepia(64%) saturate(6827%) hue-rotate(114deg) brightness(92%) contrast(107%); */
    filter: invert(14%) sepia(26%) saturate(5711%) hue-rotate(268deg) brightness(104%) contrast(129%);
}
